Options -MultiViews
RewriteEngine On

# Serve _next/static files directly from .next/static on disk
RewriteCond %{REQUEST_URI} ^/_next/static/
RewriteRule ^_next/static/(.*)$ .next/static/$1 [L]

# Serve _next/image files directly
RewriteCond %{REQUEST_URI} ^/_next/image
RewriteRule ^_next/image(.*)$ .next/image$1 [L]

# Serve public files directly
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]
